@import './base.css';

#app {
  max-width: 1280px;
  margin: 0 auto;
  background-color: #10161f;
  font-family: 'Roboto', sans-serif;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

.positive {
  color: #23b428;
}

.info-bottom {
  font-size: 14px;
  color: #a9bcd4;
}

.info-bottom span {
  margin-right: 5px;
}

.negative {
  color: #c23b3b;
}

.bold {
  font-weight: bold;
}

.gray-small {
  font-size: 14px;
  color: #a9bcd4;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  }
}
